#secret-document {
  font-family: monospace;
  width: 50vw;
  margin: auto;
  font-size: 1.1rem;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  text-decoration: underline;
}
