body {
  background-color: black;
  padding: 0;
  margin: 0;
}

p,h1 {
  color: white;
  text-align: center;
}

#title {

}

#musicPlayer, #story {
  color:white;
  font-family: 'Montserrat', sans-serif; font-weight:400;
  text-align: center;
  padding-top: 200px;
  font-size: 1.5rem;
}

#skip {
  color:white;
  font-family: 'Montserrat', sans-serif; font-weight:400;
  text-align: center;
  padding-top: 50px;
  font-size: 1.5rem;
}

#gameButtonContainer {
  color:white;
  font-family: 'Montserrat', sans-serif; font-weight:400;
  text-align: center;
  padding-top: 150px;
  font-size: 1.5rem;
}

/*
  The CSS for the buttons was taken from here:
  https://codepen.io/ozer/pen/KwvKoR?editors=1100
*/

#playerButton, #gameButton, #skipButton,
input[type="submit"]{
	cursor: pointer;
  border-radius: 0px;
    text-decoration: none;
    padding: 18px 24px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}

#playerButton:hover, #gameButton:hover, #skipButton:hover {
  border:solid 2px #fff;
      background: #fff;
      color: #1f1f1f !important;
}


canvas {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

video {
  margin-left: auto;
      margin-right: auto;
      display: block
}
